@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;1,100&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Raleway:ital,wght@0,100;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@100&family=Raleway:ital,wght@0,100;1,100&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@100&family=Nunito:wght@200&family=Raleway:ital,wght@0,100;1,100&family=Titillium+Web:wght@200&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Asap:wght@400;500&display=swap');

:root {
  --encabezado: rgb(0,67,168);
  --redes_sociales: rgb(1,174,251);
  --carrito: #32B9E3;
  --color_numero: #FAF258;
  --color_boton_Comprar:#ffd814;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif, Arial, Helvetica;
}

a {
  color: #6dcaf3;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.1s ease-out;
}

a:hover,
a:focus,
a:active {
  color: #6dcaf3;
  text-decoration: none;
  outline: none;
  background: none;
}
.subMenu--opciones {
  color: #0314f5;
  cursor: pointer;
 
}
.subMenu--opciones:hover {
  color: #0314f5;
  border-bottom: 2px solid #0314f5 ; 
}

.social_networks {
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: wrap;
  justify-content: flex-end;
  align-items: flex-end;
  align-content: center;
  padding: 0px 0px;
  color: var(--redes_sociales); 
}
.social_networks i {
  height: 60px;
  width: 50px;
  padding: 5px 5px 5px 5px;
  margin: 1px 1px;
  font-size: 27px;
  text-align: justify;
  transition: all 0.5s ease;
 
}
.social_networks a {
  text-decoration: none;
}
.social_networks a:hover {
  text-decoration: none;
  color: #fff;
  transform: scale(1.2);
}

#back_to_top {
  height: 55px;
  width: 55px;
  background: #acebf2;
  border-radius: 33px;
  right: 10px;
  bottom: 20px;
  position: fixed;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 99; 
  /* position: absolute; */
}

#back_to_top.left {
  left: -100px;
}

#back_to_top i {
  color: #fff;
  line-height: 55px;
  font-size: 22px;
}

#back_to_top:hover,
#back_to_top:focus {
  background: #0583f2;
  -webkit-box-shadow: 0 5px 10px 0 rgba(35, 50, 56, 0.1);
  box-shadow: 0 5px 10px 0 rgba(35, 50, 56, 0.1);
  transition: .5s;
  bottom: 45px;
}


#back_to_top:hover {
  cursor: pointer;
}

#back_to_top.active {
  right: 300px;
}

#back_to_top.left.active {
  left: 30px;
}

.logo {
  padding: 1px 1px 1px 90px;
}
/* .carrito_mensaje_top {
  height: 28px;
  width: 28px;
  margin-left: 65%;
  padding-top: 5px;
  padding-bottom: 20px;
  background-color: #f78d03;
  border-radius: 33px;
  top: 80px;
  position: sticky;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 98;
  color: #0511f2;
} */
.carrito_mensaje_top {
  height: 30px;
  width: 30px;
  padding: 15px 15px 15px 15px;
  margin: 1px 1px;
  background-color:#6dcaf3;
  border-radius: 33px;
  position: absolute;
  top: 40px;
  right: 1px;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 98;
  color: #f6f6f8;
  
}

.carrito_mensaje_top p a {
  color: #fff;
  text-decoration: none;
 
}

.link__carrito { 
  height: 7px;
  width: 10px;
  padding: 10px 10px 10px 10px;
  margin: 7px 7px;
  background-color:#FFC745;
  border-radius: 10px 5% / 20px 30px;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 98;
  font-size: 15px;  
  color: #0043a8;
  text-decoration: none;
  transition: all 0.5s ease;
  font-family: "Roboto", sans-serif, Arial, Helvetica;
}

.link__carrito a:hover {
  color: #fff;
  text-decoration: none;
  font-size: 2%;
}

.encabezado {
  background-color: var(--encabezado);
  color: #fff;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: bolder;
  padding: 50px 21px 21px 21px;
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.encabezado div {
  background-color: var(--encabezado);
  color: #fff;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: bolder;
  padding: 5px 5px 5px 5px;
  margin: 0px 10px 5px 85%;
  width: 15vw;
  display: inline-block;
  position: absolute;
  top: 10px;
}

.encabezado h1 {
  padding: 0px 0px 0px 90px;
}
.encabezado h1 a {
  color: #fff;
  text-decoration: none;
}

.encabezado h1 a:hover {
  color: #acebf2;
  cursor: pointer;
}

.carrusel_img img {
  width: 100%;
  height: auto;
}
.container {
  width: 100%;
  height: auto;
  display: flex;
  /* flex-wrap: wrap; */
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.Menu {
  margin-left: 200px;
  position: sticky;
  width: 100%;
  height: 1vh;
  display: inline;
  text-align: right;
  font-size: 21px;
}

.Menu__opciones li {
  list-style: none;
  text-align: center;
  text-decoration: none;
  display: inline;
}

.Menu__elementos {
  position: sticky;
  left: 50px;
  margin: 5px 5px 5px 5px;
  text-align: right;
  margin-left: 100px;
}

.Menu__link {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  color: #acebf2;
  display: inline;
}

.MenuP {
  z-index: 96;
  position: sticky;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;            
  justify-content: space-evenly;
  align-items:baseline;
  align-content:space-between;
  gap: 2px;
  justify-content: space-evenly;
  font-size: 12x;
  font-family: 'Titillium Web', sans-serif;
}


.MenuP__opciones {
  list-style: none;
  text-align: justify;
  text-decoration: none;
  display: flex;
  flex-flow: row wrap;            
  justify-content: space-evenly;
  align-items:baseline;
  align-content:space-between;
  gap: 2px;
  justify-content: space-evenly;
  padding: 5px 5px 5px 5px;

}

.MenuP__opciones li {
  list-style: none;
  text-align: justify;
  text-decoration: none;
  display: inline-flex;
  flex-direction: wrap;
  padding: 10px 20px 10px 20px;
}

.MenuP__elementos {
  position: sticky;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
  text-align: left;
}

.MenuP__link {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-size: 17px;
  color: #acebf2;
}

.subMenu {
  padding: 7px 21px 7px 21px;
  background-color: rgb(241, 242, 248);
  z-index: 100;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  height: 23vh;
  display: inline-block;
  text-align: center;
  font-size: 33px;
  box-shadow: 0px 7px 13px -7px #687a8e;
}

.subMenu__logo {
  padding: 1px 1px;
}

input.subMenu__elementos--input {
  padding: 5px 5px 5px 5px;
  margin: 5px 5px 5px 5px;
  width: 99%;
  height: 3vw;
  border: 1px solid var(--redes_sociales);
  border-radius: 5px;
  font-family: "Roboto", sans-serif, Arial, Helvetica;
  font-size: 21x;
  display: inline-block;
}

input.subMenu__elementos--input:hover {
  box-shadow: 1px 1px 1px var(--redes_sociales);
}
input.subMenu__elementos--input:focus {
  box-shadow: 1px 1px 1px var(--redes_sociales);
  border: 1px solid  var(--redes_sociales);;
  outline: none;
}
input.subMenu__elementos--input:active{
  background-color:#2475bb;
  border: 1px solid  var(--redes_sociales);;
  outline: none;
}

.imagen__compra {
  border-radius: 5px;
  margin: 25px 0px 2px 0px;
  padding: 2px 0px 2px 0px;
  width: 250px;
  height: 150px;
  position: relative;
  background-color: #fffefe;
  border: 1px solid #c0c0c0;
  display: inline-block;
  
}
  
.subMenu__imagen {
  border-radius: 10px;
  margin: 25px 0px 2px 0px;
  padding: 2px 0px 2px 0px;
  width: 100%;
  height: 150px;
  position: relative;
  background-color: #c2c2c2;
  display: inline-block;
}

.subMenu__opciones {
  list-style: none;
  text-align: center;
}
.subMenu__link {
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 21px;
}
.subMenu__elementos {
  position: sticky;
  margin: 5px 5px 20px 30px;
  text-align: justify;
  
}

li.subMenu__elementos {
  position: sticky;
  display: inline-block;
  margin: 13px 13px 13px 13px;
  text-align: center;
  
}

li.subMenu__elementos:hover {
  position: sticky;
  display: inline-block;
  margin: 13px 13px 13px 13px;
  text-align: center;
  text-decoration: none;
}

/* .subMenu__link--active {
  font-weight: ;
} */
.contenedor__parrafo {
  display: flex;
  flex-direction: row;
  width: 97%;
  align-items: flex-start;
  background-color: #EEF4F7;
  border-radius: 2px;
  padding: 2px 2px;
 
}

/* .contenedor {
  width: 100%;
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-content: center;
  border-radius: 5px;
  align-items: baseline;
  align-content: space-around;

  
} */
.card {
  margin: 25px 3px 25px 5%;
  padding: 5px 5px 5px 10px;
  border: 1px solid #ccc;
  width: 250px;
  height: 390px;
  left: 10%;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  border-radius: 5px;
  align-items: baseline;
  align-content: space-around;
}
section.card:hover {
  box-shadow: 1px 1px 1px 1px rgb(127, 138, 143);
}

button:hover {
  background-color:var(--color_boton_Comprar);
  cursor: pointer;
  border-bottom: 2px solid rgb(109, 104, 107);
  border-right: 2px solid rgb(109, 104, 107);
}
.card__encabezado {
  text-align: center;
  margin: 2px 2px 2px 2px;
  padding: 5px 5px 5px 5px;
  font-size: 20px;
  background-color: rgb(165, 227, 243);
  width: 100%;
  height: 45px;
  border-radius: 3px;  
  cursor: pointer;
}

p.card__precio {
  text-align: center;
  margin: 5px 5px;
  padding: 5px 5px 5px 5px;
  background-color: #f3efef;
  font-size: 15px;
}
.card_botonComprar {
  background-color: var(--color_boton_Comprar);
  width: 100%;
  height: 40px;
  color: #fff;
  padding: 5px 5px;
  border: none;
  border-radius: 5px;
  font-family: "Roboto", sans-serif, Arial, Helvetica;
  font-size: 21px;
  box-shadow: 1px 1px 1px rgb(230, 223, 223);
}
.card_botonComprar--activo {
  background-color:var(--color_boton_Comprar);
  width: 100%;
  height: 40px;
  color: black;
  padding: 5px 5px;
  border: none;
  border-radius: 5px;
  font-family: "Roboto", sans-serif, Arial, Helvetica;
  font-size: 21px;
  text-decoration: none;

  padding: 5px 10px;
}

.card_botonComprar--activo:hover {
  width: 100%;
  height: 50px;
  color: black;
  padding: 5px 5px;
  border: none;
  border-radius: 5px;
  font-family: "Roboto", sans-serif, Arial, Helvetica;
  font-size: 21px;
  text-decoration: none;
}

.card__texto {
  text-align: center;
  font-size: 15px;
  color: rgb(136, 155, 161);
  font-family: "Roboto", sans-serif, Arial, Helvetica;
}
p.card__comentarios {
  text-align: center;
  margin: 5px 5px;
  padding: 5px 5px 5px 5px;
  font-size: 11px;
}

p.card__comentarios i {
  color: #f29d35;
  font-size: 15px;
}

.seccion {
  padding: 10px 25px;
  margin: 10px 25px;
  border-bottom: 1px #c3c3c3 dotted;
  width: 99%;
  color: #0314f5;
  
}

.pie_derechosR {
  margin-top: 10px;
  padding: 31px 10px 50px 10px;
  width: 100%;
  height: 50vh;
  background-color:   #0043a8;
  color: #fff;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: bolder;
  display: inline-block;
  text-align: center;
}

.pie_derechoR__arriba {
  width: 80px;
  height: 80px;
  margin: 0px 10px 0px auto;
  background-color: rgb(89, 103, 231);
  position: sticky;
  display: inline-block;

}

.pie__derechosR--mensaje {
  display: inline;
}

.footer_secciones {
  width: 100%;
  height: 100%;
  text-align: center;
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-gap: 10px;
  background-color: 0043a8;
  color: #444;
  justify-content: space-around;
}

.conocenos {
  width: 25vw;
  height: 30vh;
  text-align: left;
  margin: 10px 15px 15px 10px;
  padding: 10px 15px 15px 10px;
  color: #acebf2;
  line-height: 25px;
  font-family: "Inter", sans-serif;
  font-size: 13px;
}

.conocenos li {
  text-decoration: none;
  list-style: none;
}
.conocenos li a {
  text-decoration: none;
  list-style: none;
}

.conocenos li a:hover {
  text-decoration: none;
  list-style: none;
  color: #acebf2;
}

.titulo_sec_fot {
  display: grid;
  justify-content: space-around;
  padding: 5px 5px 5px 1px;
}
/* carrito */
.container__pago {  display: grid;
  grid-template-columns: 1.5fr 0.5fr;
  grid-template-rows: 1fr;
  gap: 2px 10px;
  grid-auto-flow: row;
  justify-content: space-evenly;
  align-content: space-evenly;
  justify-items: start;
  align-items: center;
  grid-template-areas:
    "promociones pagar";
    width: 97%; 
    height: 90%; 
    margin: 5px 5px;
    padding: 5px 5px;
    background-color: #f2fcfd;
    border: 1px solid var(--carrito);
}

.promociones { grid-area: promociones; }

.pagar { grid-area: pagar; }

.container__carrito{
  display: grid;
  grid-template-columns: 3px 0.7fr 1.5fr 0.3fr;
  grid-template-rows:  0.1fr 0.4fr 0.4fr;
  gap: 1px 50px;
  grid-auto-flow: row;
  grid-template-areas:    
    "Seleccionar  Mensaje1 mensaje2 mensaje3"
    "check imagen1 descripcion precio"
    ". vacio1 subtotal neto";
    border: 1px solid #c0c0c0;
    border-radius: 10px;
    width: 97%; 
    height: 90%; 
    margin:1px 5px 1px 5px;
    padding: 15px 20px 1px 20px;
    background-color: #f2fcfd;
    justify-content:space-around;
    align-content: space-evenly;
    justify-items:auto;
    align-items: center;
}


.Mensaje1 { 
  grid-area: Mensaje1; 
  border-bottom: 1px solid #c0c0c0;
  
}

.mensaje2 { 
  grid-area: mensaje2;
  border-bottom: 1px solid #c0c0c0;

 }

.mensaje3 { 
  grid-area: mensaje3; 
  border-bottom: 1px solid #c0c0c0;
  text-align:right;
}

.imagen1 { 
  grid-area: imagen1; 
}

.descripcion { grid-area: descripcion; }

.precio { 
  grid-area: precio; 
  text-align:right;
}

.vacio1 { grid-area: vacio1; }

.subtotal { 
  grid-area: subtotal; 
  text-align: right;
}

.neto { 
  grid-area: neto; 
  text-align:right;
}

.Pago { grid-area: Pago; }

.container_car--buy {  
  display: grid;
  grid-template-columns: 1fr 2fr 0.8fr;
  grid-template-rows: 0.5fr;
  gap: 2px 2px;
  grid-auto-flow: row;
  grid-template-areas:
    "imagen_Art descripcion_Art precio_Art";
    border: 1px solid saddlebrown;
}

.imagen_Art { 
  grid-area: imagen_Art; 
  padding: 50px 50px;
  
}

.descripcion_Art { 
  grid-area: descripcion_Art; 
  padding: 50px 50px;
}

.precio_Art { 
  grid-area: precio_Art; 
  padding: 50px 50px;}


@media all and (max-width: 340px) and (min-width: 5px) {
  .encabezado {
    justify-content: space-around;
    display: flex;
    flex-direction: wrap;
    height: 50%;
    background-color: #0314f5;
  }
  .social_networks {
    display: flex;
    justify-content:space-evenly;    
    flex-direction: row;
    background-color: #0314f5;
  }

  .carrito_mensaje_top {
    height: 28px;
    width: 28px;
    margin-left: 70%;
    padding-top: 5px;
    padding-bottom: 20px;
    background: #f78d03;
    border-radius: 33px;
    position: relative;
    top: 100px;
    left: 1px;
   
  }
  body {
    background-color: #fff;
  }
  h1 {
    font-size: 21px;
    
  }
  .seccion {
    font-size: 15px;
    text-align: left;
  }
  .card {
    margin: 25px 3px 25px 13%;
  }
  .footer_secciones {
    grid-template-columns: 25% 25% 25%;
    font-size: 15px;
  }
  .pie_derechosR {
    height:90vh;
    font-size: 15px;
  }  
  .MenuP {
    display: flex;
    flex-flow: column wrap;            
    justify-content: space-evenly;
    align-items:baseline;
    align-content:space-between;
    gap: 2px;
    justify-content: space-evenly
  }
  .Menu__opciones {
    display: flex;
    flex-flow: column wrap;            
    justify-content: space-evenly;
    align-items:baseline;
    align-content:space-between;
    gap: 2px;
    justify-content: space-evenly;
  }
  .subMenu{
    width: auto;
    height: auto;
    padding: 5px 5px;
  }
  .subMenu__elementos--input {
    width: 90%;
    text-align: left;
  }
}
@media only screen and (max-width: 500px) and (min-width: 341px) {  
  .encabezado {
    justify-content: space-around;
    display: flex;
    flex-direction: wrap;
    height: 50%;
    background-color: #0314f5;
  }
  .social_networks {
    display: flex;
    justify-content:space-evenly;
    flex-direction: row;
    align-items: center;
    background-color: #0314f5;
  }

  .carrito_mensaje_top {
    height: 28px;
    width: 28px;
    margin-left: 70%;
    padding-top: 5px;
    padding-bottom: 20px;
    background: #f78d03;
    border-radius: 33px;
    position: relative;
    top: 100px;
    left: 90px;
    
  }
  body {
    background-color: #fff;
  }
  h1 {
    font-size:27px;
    text-align: center;
  }
  
  .seccion {
    font-size: 15px;
    text-align: left;
  }
  .card {
    margin: 25px 3px 25px 19%;
  }
  .footer_secciones {
    grid-template-columns: 25% 25% 25%;
    font-size: 15px;
  }
  .pie_derechosR {
    height: 90vh;
    font-size: 15px;
  }
  .MenuP {
    display: flex;
    flex-flow: column wrap;            
    justify-content: space-evenly;
    align-items:baseline;
    align-content:space-between;
    gap: 2px;
    justify-content: space-evenly
  }
  .Menu__opciones {
    display: flex;
    flex-flow: column wrap;            
    justify-content: space-evenly;
    align-items:baseline;
    align-content:space-between;
    gap: 2px;
    justify-content: space-evenly;
  }
  .subMenu{
    width: auto;
    height: auto;
    padding: 5px 5px;
  }
}


@media all and (max-width: 960px)  and (min-width: 821px){
  .encabezado {
    justify-content: space-around;
    display: flex;
    flex-direction: wrap;
    height: 50%;
    background-color: #0314f5;
  }
  .social_networks {
    display: flex;
    justify-content:space-evenly;
    
    flex-direction: row;
    align-items: center;
    background-color: #0314f5;
  }
  body {
    background-color: #fff;
  }
  h1 {
    text-align: center;
  }
  .carrito_mensaje_top {
    height: 28px;
    width: 28px;
    margin-left: 70%;
    padding-top: 5px;
    padding-bottom: 20px;
    background: #f78d03;
    border-radius: 33px;
    position: relative;
    top: 20px;
    left: 10px;
  }
  .card {
    margin: 25px 3px 25px 15%;
  }
  .nav{ 
    flex-direction: column;
  }
}

@media screen and (max-width: 1200px) {
  .encabezado {
    justify-content: space-around;
    display: flex;
    flex-direction: wrap;
    height: 50%;
  }
  .carrito_mensaje_top {
    height: 28px;
    width: 28px;
    margin-left: 70%;
    padding-top: 5px;
    padding-bottom: 20px;
    background: #f78d03;
    border-radius: 33px;
    position: relative;
    top: 10px;
    left: 60px;
  }
  .card {
    margin: 25px 3px 25px 15%;
  }
}

